---
name: CI
on:
  push:
env:
  DOCKER_BUILDKIT: 1
  BUILDKIT_PROGRESS: plain
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          args: --timeout=3m
  test:
    strategy:
      matrix:
        # FIXME: windows builds are broken.
        # We excludes binaries for windows until fixing that.
        #os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        os: ['ubuntu-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - name: Test
        run: make test
